<!DOCTYPE html>
<html>
<%= render 'layouts/nav'%>
<body>
<br>
<br>
<br/>
<h1>LOG IN</h1>

<% flash.each do |key,value|  %>
    <div class="<%= key %>" > <%= value %> </div>
<% end %>


</body>
</html>